@import './colors.css';
@import './typography.css';

@import './paragraphs.css';
@import './fields.css';
@import './regions.css';
@import './profile.css';
@import './article.css';
@import './article-teaser.css';
@import './block.css';
@import './tags.css';

@import './overrides.css';

body {
  margin: 0;
  font-family: var(--secondary-font-family);
  font-size: 15px;
  color: var(--black-500);
}

p {
  line-height: 1.8;
}

.column {
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.main {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
  display: flex;
}

.layout-content {
  outline: 1px solid blue;
}

.layout-sidebar {
  outline: 1px solid green;
  flex-shrink: 0;
  flex-basis: 30%;
}
