@import './colors.css';
@import './typography.css';

@import './paragraphs.css';
@import './fields.css';
@import './regions.css';
@import './profile.css';

@import './overrides.css';

body {
  margin: 0;
  font-family: var(--secondary-font-family);
  font-size: 15px;
  color: var(--black-500);
}

p {
  line-height: 1.8;
}

.main {
  width: 1200px;
  margin: 0 auto;
}
