:root {
  --black-900: #0b0b0b;
  --black-800: #232322;
  --black-700: #2b2b2b;
  --black-600: #454545;
  --black-500: #666666;
  --black-400: #747474;
  --black-300: #c6c6c6;
  --black-200: #f8f8f8;
  --black-100: #fbfbfb;

  --green: #49bea5;
  --sky-blue: #55acf0;
  --white: #fcfffe;
}
